WEBSITE_NAME=""
IOS_IDENTIFIER=""
ANDROID_IDENTIFIER="com.tiwebcontrol.suporte"
UPDATE_MODE="now"
CONTENT_URL=""
MIN_NATIVE_INTERFACE=""
AUTO_DOWNLOAD=true
AUTO_INSTALL=true

USE_MONGODB=false
USE_SQLITE=true

MONGODB_URI="" # CASO UTILIZE O MONGODB

ADMIN_ADMIN="admin" # Usuario Admin para gerenciar outros usuarios
PASSWORD_ADMIN="changepassword" # Senha padrão para o usuario Admin

PORT=3000 # Porta do servidor